.wide_input {
    width: 600px;
    margin: 10px 0px;
}

.fields_wrapper {
    margin: 0 auto;
    margin-top: 40px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.buttons_wrapper {
    padding: 24px 0px 0px 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
